@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


:root {
    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fuente-inter);
    box-sizing: border-box;
}

.offcanvas.offcanvas-start {
    width: 75%;
    border-radius: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.no-arrow::after {
    display: none;
}

#video-banner,
#vehiculos {
    min-height: 25rem;
}

#video-banner video {
    min-width: 100%;
    min-height: 100%;
}

#vehiculos {
    padding: 5rem 0;
}


.mouse_scroll {
    cursor: pointer;
    margin-bottom: 100px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    width: 5px;
    height: 5px;
    background: white;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    animation: scroll 1s infinite;
}

@keyframes scroll {
    0% {
        opacity: 1;
        top: 5px;
    }

    100% {
        opacity: 0;
        top: 15px;
    }
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.m_scroll_arrows.uno {
    animation: arrow 1s infinite;
}

.m_scroll_arrows.dos {
    animation: arrow 1s 0.2s infinite;
}

.m_scroll_arrows.tres {
    animation: arrow 1s 0.4s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: translateY(10px) rotate(45deg);
    }
}

#slide-2 {
    background: linear-gradient(rgba(135, 60, 255, 1), rgba(135, 60, 255, 0.0) 50%),
        linear-gradient(-21.5deg, rgba(120, 155, 255, 0.9) 45%, rgba(55, 230, 235, 1) 0%);
}


@media (max-width: 768px) {
    .slide .centered {
        width: 80%;
        margin: 40% auto 0;
    }

    .slide .centered p {
        font-size: 16px;
    }

    .slides-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        overflow: visible;
    }
}

#titulo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
}

#productos-destacados {
    font-family: "Archivo Black", sans-serif;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(48, 67, 161, 1) 25%, rgba(9, 9, 119, 1) 50%, rgba(9, 9, 119, 1) 75%, rgba(48, 67, 161, 1) 100%);
    color: #e5e5e5;
}

@media (max-width:480px) {
    #productos-destacados {
        font-size: 40px;
    }
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">"
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .1rem 0rem !important;
    margin-bottom: 0rem;
    list-style: none;
    border-radius: .25rem
}

.product_name {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px
}

.badge {
    display: inline-block;
    background-color: #006ff7;
    padding: .7rem .6rem;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem
}

.product-rating {
    margin-top: 10px
}

.rating-review {
    color: #e9e2e2;
    margin-left: 20px;
}

.product_price {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    margin-top: 9px;
    clear: left
}

.product_discount {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    margin-top: 9px;
    clear: left;
    margin-left: 10px;
    color: red;
}

.product_saved {
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    color: #999999;
    clear: left
}

.singleline {
    margin-top: 1rem;
    margin-bottom: .40rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.product_info {
    color: #4d4d4d;
    display: inline-block
}

.product_options {
    margin-bottom: 10px
}

.product_quantity {
    width: 104px;
    height: 47px;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
    padding-left: 8px;
    padding-top: -4px;
    padding-bottom: 44px;
    float: left;
    margin-right: 22px;
    margin-bottom: 11px
}

.order_info {
    margin-top: 18px
}

.shop-button {
    height: 47px
}

.product_fav {
    display: inline-block;
    width: 52px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 11%;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    transition: all 200ms ease
}

.product_fav i {
    color: gray;
}

.product_fav:hover {
    background-color: #167af6;
}

.product_fav:hover i {
    color: red;
}

@media (max-width: 390px) {
    .product_fav {
        display: none
    }
}

.row-underline {
    content: "";
    display: block;
    border-bottom: 2px solid #3798db;
    margin: 0px 0px;
    margin-bottom: 20px;
    margin-top: 15px
}

.deal-text {
    margin-left: -10px;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700
}

ul {
    list-style: none;
    margin-bottom: 0px
}


.image-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateX(-15px);
    border: solid 1px #e8e8e8;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    padding: 15px;

}

.image-selected img {
    transition: transform .2s;

}

.image-selected img:hover {
    transform: scale(1.1);
}

.product_category {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5)
}

.product_rating {
    margin-top: 7px
}

.product_rating i {
    margin-right: 4px
}

.product_rating i::before {
    font-size: 13px
}

.product_text {
    margin-top: 27px
}

.product_text p:last-child {
    margin-bottom: 0px
}

.order_info {
    margin-top: 16px
}

.gallery-img {
    max-width: 100px;
    margin: 5px;
}

@media (max-width: 480px) {
    .gallery-img {
        max-width: 80px;
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 100px;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-icon i {
    font-size: 24px;
}

#cart-count {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 2%;
    padding: 3px 7px;
    font-size: 12px;
}

.btn-bd-primary {
    background-color: #712cf9;
    font-weight: 600;
    fill: white;
}

.btn-bd-primary:hover {
    background-color: #6528e0;     
    color: white;                  
    border-color: #6528e0;   
}

.btn-bd-primary:active {
    background-color: #5a23c8;      
    color: white;                  
    border-color: #5a23c8;   
}


.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.link-body-emphasis, .dropdown-menu {
    fill: var(--svg-fill-color);
}


[data-bs-theme="light"] {
    --svg-fill-color: black;
}

[data-bs-theme="dark"] {
    --svg-fill-color: white;
}