@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fuente-inter);
    box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.no-arrow::after {
    display: none;
}


#video-banner {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
}

#video-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

#video-banner .container {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay and video */
    height: 100%;
}

#video-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Scroll indicator */
.mouse_scroll {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    cursor: pointer;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    width: 5px;
    height: 5px;
    background: white;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    animation: scroll 1s infinite;
}

@keyframes scroll {
    0% {
        opacity: 1;
        top: 5px;
    }
    100% {
        opacity: 0;
        top: 15px;
    }
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
}

.m_scroll_arrows.uno {
    animation: arrow 1s infinite;
}

.m_scroll_arrows.dos {
    animation: arrow 1s 0.2s infinite;
}

.m_scroll_arrows.tres {
    animation: arrow 1s 0.4s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    100% {
        opacity: 1;
        transform: translateY(10px) rotate(45deg);
    }
}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
}

.slide .centered {
    width: 60%;
    margin: 10% auto 0;
}

.slide .centered h1,
.slide .centered p {
    text-align: center;
    margin-top: 1rem;
}

#slide-1 {
    background-color: #FFFFFF;
}

#slide-2 {
    background-color: #45959b;
}

#slide-3 {
    background-color: #778899;
}

#slide-4 {
    color: #FFFFFF;
    background-color: #291F37;
}

.go-prev, .go-next {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .slide .centered {
        width: 80%; /* Increase width for smaller screens */
        margin: 30% auto 0;
    }

    .slide .centered p {
        font-size: 16px; /* Adjust font size */
    }
}